In [1]:
import sklearn
import pandas as pd

In [14]:
from sklearn.datasets import load_diabetes, load_iris
disease = load_diabetes()
iris = load_iris()
data = disease.data
data2 = iris.data

In [16]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
scaled_data2 = scaler.fit_transform(data2)

In [17]:
from sklearn.decomposition import KernelPCA, FastICA
dim_red = KernelPCA(n_components=4,kernel='rbf')
dim_red2 = FastICA(n_components=2)

In [19]:
reduced_data = dim_red.fit_transform(scaled_data)
reduced_data2 = dim_red2.fit_transform(scaled_data2)

In [20]:
df = pd.DataFrame(reduced_data,columns=['1','2','3','4'])
df2 = pd.DataFrame(reduced_data2,columns=['1','2'])

In [21]:
df.head()

          1         2         3         4
0 -0.260632  0.408065  0.068337  0.294265
1  0.516938 -0.156931  0.025718 -0.113454
2 -0.182362  0.395564  0.121163  0.151345
3  0.044566 -0.131207 -0.152106 -0.163608
4  0.229015 -0.069315  0.352380 -0.164871

In [22]:
df2.head()

          1         2
0  0.534356 -1.312986
1 -0.675131 -1.234980
2 -0.323683 -1.392247
3 -0.591762 -1.360834
4  0.710572 -1.381949