In [1]:
# Step 1: Importing The Libraries
import sklearn
import pandas as pd

In [2]:
# Now Step 2
# Step 2: Importing The Data
df = pd.read_csv("D:/Datasets/Machine Learning/employees.csv")

In [3]:
# Step 3: Data Pre-Processing/Data Cleaning
df.head()

,Emp_ID,Emp_Name,Department_Name,Gender,Age,Position,Experience_Years,Salary
0,1,Employee_1,NaN,female,53.0,Senior Employee,3,72927
1,2,Employee_2,HR,?,NaN,CEO,28,155171
2,3,Employee_3,Administration,female,58.0,CEO,34,297132
3,4,Employee_4,Administration,male,26.0,Clerk,2,41838
4,5,Employee_5,Administration,male,33.0,CEO,33,154743

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Emp_ID            900 non-null    int64
 1   Emp_Name          900 non-null    object
 2   Department_Name   727 non-null    object
 3   Gender            900 non-null    object
 4   Age               815 non-null    float64
 5   Position          900 non-null    object
 6   Experience_Years  900 non-null    int64
 7   Salary            900 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 56.4+ KB

In [5]:
df.drop(columns=['Emp_ID','Emp_Name'],inplace=True)

In [6]:
df['Department_Name'] = df['Department_Name'].fillna('Administration')

In [7]:
df['Gender'] = df['Gender'].replace({'?':'female'})

In [8]:
df['Age'] = df['Age'].fillna(40.7)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Department_Name   900 non-null    object
 1   Gender            900 non-null    object
 2   Age               900 non-null    float64
 3   Position          900 non-null    object
 4   Experience_Years  900 non-null    int64
 5   Salary            900 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 42.3+ KB

In [10]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [11]:
df['Gender'] = encoder.fit_transform(df['Gender'])

In [12]:
df['Department_Name'] = encoder.fit_transform(df['Department_Name'])

In [13]:
df['Position'] = encoder.fit_transform(df['Position'])

In [14]:
df.head()

   Department_Name  Gender   Age  Position  Experience_Years  Salary
0                0       0  53.0         6                 3   72927
1                1       0  40.7         0                28  155171
2                0       0  58.0         0                34  297132
3                0       1  26.0         1                 2   41838
4                0       1  33.0         0                33  154743

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Department_Name   900 non-null    int32
 1   Gender            900 non-null    int32
 2   Age               900 non-null    float64
 3   Position          900 non-null    int32
 4   Experience_Years  900 non-null    int64
 5   Salary            900 non-null    int64
dtypes: float64(1), int32(3), int64(2)
memory usage: 31.8 KB

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Department_Name   900 non-null    int32
 1   Gender            900 non-null    int32
 2   Age               900 non-null    float64
 3   Position          900 non-null    int32
 4   Experience_Years  900 non-null    int64
 5   Salary            900 non-null    int64
dtypes: float64(1), int32(3), int64(2)
memory usage: 31.8 KB

In [18]:
# Step 4: Splitting The Data
Vector = df.drop(columns='Salary') #Features
Class = df['Salary'] #Target

In [19]:
from sklearn.model_selection import train_test_split
Vector_train, Vector_test, Class_train, Class_test = train_test_split(Vector,Class,test_size=0.2)

In [20]:
# Step 5: Building The Model
#     5.1: Initializing The Model
from sklearn.svm import SVR
vector_model = SVR()

In [21]:
# Step 5.2: Training The Model
vector_model.fit(Vector_train,Class_train)

SVR()

In [22]:
# Step 5.3: Making Prediction From The Model
Class_pred = vector_model.predict(Vector_test)

In [23]:
# Step 5.4: Testing The Model
from sklearn.metrics import r2_score, mean_squared_error
print(r2_score(Class_pred,Class_test))

-12879369.082548138

In [24]:
print(mean_squared_error(Class_pred,Class_test))

4509629140.262551